
<table mat-table [dataSource]="users">


  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id.</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>


  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> UserName</th>
    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email</th>
    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
  </ng-container>


  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button title="Remove" (click)="deleteUser(element.id)">
        <mat-icon color="primary">remove_circle_outline</mat-icon>
      </button>
      <button mat-icon-button title="User Orders" (click)="userOrders(element.id)">
        <mat-icon color="primary">shopping_basket</mat-icon>
      </button>
    </td>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
